/* Envolver al elemento a afectar en un span con class ellipsis*/

.ellipsis {
    overflow: hidden;
}

.ellipsis > * {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}